WCFClientApp/Connected Services/ServiceReference1/CalculatorService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="CalculatorService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:60952/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:60952/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICalculator_sum_InputMessage">
    <wsdl:part name="parameters" element="tns:sum" />
  </wsdl:message>
  <wsdl:message name="ICalculator_sum_OutputMessage">
    <wsdl:part name="parameters" element="tns:sumResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculator_sub_InputMessage">
    <wsdl:part name="parameters" element="tns:sub" />
  </wsdl:message>
  <wsdl:message name="ICalculator_sub_OutputMessage">
    <wsdl:part name="parameters" element="tns:subResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculator_multiple_InputMessage">
    <wsdl:part name="parameters" element="tns:multiple" />
  </wsdl:message>
  <wsdl:message name="ICalculator_multiple_OutputMessage">
    <wsdl:part name="parameters" element="tns:multipleResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculator_divide_InputMessage">
    <wsdl:part name="parameters" element="tns:divide" />
  </wsdl:message>
  <wsdl:message name="ICalculator_divide_OutputMessage">
    <wsdl:part name="parameters" element="tns:divideResponse" />
  </wsdl:message>
  <wsdl:portType name="ICalculator">
    <wsdl:operation name="sum">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalculator/sum" message="tns:ICalculator_sum_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalculator/sumResponse" message="tns:ICalculator_sum_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="sub">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalculator/sub" message="tns:ICalculator_sub_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalculator/subResponse" message="tns:ICalculator_sub_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="multiple">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalculator/multiple" message="tns:ICalculator_multiple_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalculator/multipleResponse" message="tns:ICalculator_multiple_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="divide">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalculator/divide" message="tns:ICalculator_divide_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalculator/divideResponse" message="tns:ICalculator_divide_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICalculator" type="tns:ICalculator">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="sum">
      <soap:operation soapAction="http://tempuri.org/ICalculator/sum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sub">
      <soap:operation soapAction="http://tempuri.org/ICalculator/sub" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="multiple">
      <soap:operation soapAction="http://tempuri.org/ICalculator/multiple" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="divide">
      <soap:operation soapAction="http://tempuri.org/ICalculator/divide" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CalculatorService">
    <wsdl:port name="BasicHttpBinding_ICalculator" binding="tns:BasicHttpBinding_ICalculator">
      <soap:address location="http://localhost:60952/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>